<footer class="footer section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-media">
                    
                    {% if settings.facebook != blank %}
                        <li>
                            <a href="{{settings.facebook}}">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% if settings.instagram != blank %}
                        <li>
                            <a href="{{ settings.instagram }}">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if settings.twitter != blank %}
                        <li>
                            <a href="{{ settings.twitter }}">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if settings.pinterest != blank %}
                        <li>
                            <a href="{{ settings.pinterest }}">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="footer-menu">
                    {% for link in linklists[settings.footer_menu].links %}
                        <li>
                            <a href="{{ link.url }}"> {{ link.title}} </a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="copyright-text">{{ settings.copyright_text }}</p>
            </div>
        </div>
    </div>
</footer>